.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-content {
  margin-top: 50px;
}

.meta .date,
.byline {
  text-transform: uppercase;
  font-size: $font-size__smaller;
  border: 0;
  color: $color__text-dull;
}

.entry-content {
  margin-bottom: 25px;
}

.entry-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
