h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;

  &.entry-title {
    font-size: 24px;
  }
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 21px;
}

.entry-title {
  margin-bottom: 0;
}
